$notebook-size: 1400px;
$tablet-size: 1000px;
$mobile-size: 650px;
$transition: ease;

// Tipografia
$font-ui: 'Roboto', sans-serif;
$font-editorial: 'Noto Serif', serif;

// Cores Tags
$tendencia-color: #d4c6ff;
$inspire-se-color: #fabd79;
$dicas-color: #ffde86;
$glossario-color: #e4faff;
$dafiti-color: #000000;
